body {
  font: 20px, Arial, sans-serif;
}
.logo {
  height: 50px;
  width: 200px;
}
.navbar {
  background-color: #16558f;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.quem-somos {
  background-color: #0583d2;
  color: white;
}
.margin {
  padding-top: 20px;
  padding-bottom: 50px;
}
.rounded-circle {
  width: 300px;
  height: 300px;
}
.parceiros {
  background-color: #61b0b7;
  color: white;
}
#serviços {
  background-color: lightblue;
}
